@font-face {
    font-family: 'PlayStationFont';
    src: url('/fonts/playstation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header h1 {
    font-family: 'PlayStationFont', sans-serif;
    font-size: 2.5rem !important;
    color: #1a202c;
}

header p {
    font-size: 1.125rem;
    color: #4a5568;
}


.btn-thin {
    font-family: 'PlayStationFont', sans-serif;
    background-color: #0070cb;
    padding: 4px 16px;  
    border-radius: 100px;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 130px; 
    display: inline-block; 
    text-align: center; 
    flex-shrink: 0;
}

.btn-thin:hover {
    background-color: #005fa3;
    position: relative;
    z-index: 1;
}

.btn-thin:hover::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #005fa3; 
    border-radius: 100px;
    z-index: -1;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    padding: 1.5rem;
}

a {
    color: #0070cb;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.home-image {
    max-width: 65%;
    margin-top: 40px;
    margin-bottom: 0px;
    transition: max-width 0.3s ease;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.navLink {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.games-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    width: 650px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.collection-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    width: 550px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-center.mb-8 {
    margin-bottom: 5rem;
}

@media (min-width: 1024px) {
    .home-image {
        max-width: 45%;
    }

    header h1 {
        font-size: 3rem !important;
    }
}

section.section-two {
    background-color: #121314;
    width: 100%;
    padding: 80px 0;
    border-top: 5px solid #121314; 
    border-bottom: 20px solid #121314; 
  }

.section-two p, h2 {
    color: white;
}

section.section-two img {
    width: 1000px;
}

nav.section-three img {
    width: 700px;
}

nav.section-three h2 {
    color: #1a202c;
}

