.profile-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    height: 100vh; 
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-family: sans-serif;
}

.profile-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 400; 
    font-family: 'PlaystationFont';
}

.error-message {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400; 
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

label {
    font-size: 1rem;
    color: #333;
    text-align: center;
    font-weight: 400; 
    margin-bottom: 10px;
}

input,
textarea {
    width: 60%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 30px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.3); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    font-weight: 400;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #0070cb;
    box-shadow: 0px 4px 12px rgba(0, 112, 203, 0.5);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.profile-button {
    background-color: #0070cb;
    color: white;
    font-size: 1rem;
    padding: 8px 24px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    font-weight: 400; 
}

.profile-button:hover {
    background-color: #005fa3;
}

.profile-button:active {
    background-color: #003f73;
}

.profile-picture-label {
    margin: 5px;
    width: 48%;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 400; 
    color: #0070cb;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border 0.3s ease;
    display: inline-block;
    max-width: 250px;
}

.profile-picture-label:hover {
    background-color: #e0e0e0;
}

.profile-picture-label:active {
    border: 2px solid #0070cb;
}

input[type="file"] {
    display: none;
}

.login-link-section {
    text-align: center;
    margin-top: 20px;
}

.login-link {
    color: #0070cb; 
    font-size: 1rem;
    text-decoration: none;
}

.login-link:hover {
    color: #0062a3;
}

.login-link:active {
    color: #004085; 
}

