.game-detail-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    gap: 40px;
}

.game-detail-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-detail-title {
    font-size: 2rem !important;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.game-detail-cover {
    width: 250px !important;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.game-detail-info {
    text-align: left;
    font-size: 1rem !important;
    color: black;
    line-height: 1.6;
    max-width: 100%;
}

.game-detail-info p {
    margin: 10px 0;
}

.game-detail-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.add-game-section {
    margin-top: 20px;
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-game-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.add-game-section .btn-add-game {
    background-color: #0070cb; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.add-game-section .btn-add-game:hover {
    background-color: #005fa3;
}

.add-game-section .btn-add-game:active {
    background-color: #003f73;
}

.btn-move-to-wishlist,
.btn-move-to-collection {
  margin-bottom: 10px; 
  cursor: pointer;
}

.btn-move-to-wishlist {
  margin-right: 10px; 
}

.scrollable-description {
    max-height: 250px; 
    overflow-y: auto;  
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: -10px; 
  }
  
  .scrollable-description p {
    font-size: 1rem;
    color: black;
    line-height: 1.6;
    margin: 0;
  }
  
  .wishlist-collection-info {
    margin-top: 200px;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.wishlist-collection-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}



