.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-banner {
  width: 100%;
  height: 250px;
  background-image: url('https://imgur.com/n1Yzom5.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px; 
}

.search-title {
  font-family: 'PlayStationFont', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 600px; 
  margin-top: 20px;
}

.searchInput {
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: white;
  width: 100%;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: #0070cb;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-left: -20px;
  margin-top: -15px;
}

.btn-search:hover {
  background-color: #005fa3;
}

.search-image {
  width: 25px;
}

.gameResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.search-login-message {
  text-align: center;
  margin-top: 30px;
}

.search-login-message p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.search-login-message .btn-thin {
  margin-top: 10px;
}
