.collectionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.collectionPage h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
}

.gameResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

