@font-face {
    font-family: 'PlayStationFont';
    src: url('/fonts/playstation.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px; 
}

.logo-container {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 30px; 
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
    list-style: none;
    margin: 0;
}

.navLink, .logoutButton {
    font-family: 'PlayStationFont', sans-serif;
}

.navLink {
    font-size: 1rem;
    font-weight: 500;
    color: #000; 
    text-decoration: none;
    padding: 8px 16px; 
    transition: color 0.3s ease;
    display: flex;
    align-items: center; 
}

.navLink:hover {
    color: #0070cb; 
}

.logoutButton {
    background-color: #0070cb;
    color: white;
    padding: 4px 16px;
    border: none;
    border-radius: 9999px; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-left: 16px; 
    line-height: 1; 
}

.logoutButton:hover {
    background-color: #005fa3; 
}

.navLinks li:last-child {
    margin-left: 16px;
    display: flex;
    align-items: center; 
}
