.wishlist-title {
    font-family: 'PlayStationFont', sans-serif;
    font-size: 2.5rem !important;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.wishlistPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.wishlistPage h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a202c;
}

.gameResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.gameResults p {
    margin-top: 180px;
}

.wishlist-login-message {
    text-align: center;
    margin-top: 150px !important;
}

.wishlist-login-message p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}